  .lesson-map-container {
    padding: 20px;
    overflow-y: auto;
    background-color: #ffffff;
    background: rgb(255,255,255, 0.7); /* 半透明白色背景 */
    backdrop-filter: blur(5px);
    border-radius: 8px;
  }
  
  .chapter-container {
    margin: 0 auto;
    margin-bottom: 40px;
    /* max-width: 80%; */
  }

  .lessons-wrapper {
    position: relative;
  }

  .lessons-wrapper>.chapter-image {
    position: absolute;
    top: 0;
    height: 100%;
    width: 40%;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .chapter-container:nth-of-type(odd)>.lessons-wrapper>.chapter-image {
    left: 60%;
  }

  .chapter-container:nth-of-type(even)>.lessons-wrapper>.chapter-image {
    left: 0;
  }

  .lessons-wrapper>.chapter-image img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    object-fit: cover;
  }

  .chapter-title {
    font-size: 1.8em;
    margin-bottom: 20px;
    color: #8477c2;
    font-weight: 600;
    text-align: center;
    padding-bottom: 6px;
    border-bottom: 2px solid #999;
  }
  
  .lessons-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 50%;
  }

  .chapter-container:nth-of-type(odd)>.lessons-wrapper>.lessons-container {
    margin-left: 0;
    margin-right: auto;

    padding-left: 20px;
  }

  .chapter-container:nth-of-type(even)>.lessons-wrapper>.lessons-container {
    margin-left: auto;
    margin-right: 0;

    padding-right: 20px;
  }

  .lesson-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .lessons-container>.lesson-item:nth-of-type(even) {
    align-items: flex-end;
  }
  
  .lesson-node-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding-top: 6px;
  }
  
  .lesson-node {
    width: 80px;
    height: 72px;
    border-radius: 50%;
    /* border: 2px solid #4CAF50; */
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: box-shadow 0.1s ease, transform 0.1s ease;
    font-size: 1.6em;
    font-weight: 500;
    box-shadow: 0px 8px #39793c;
    transform: translate(-0px, -8px);
  }
  
  .lesson-node:hover {
    /* transform: scale(1.1); */
    box-shadow: 0px 2px #39793c;
    transform: translate(-0px, -2px);
  }
  
  .lesson-node.completed {
    background: #4CAF50;
    color: white;
  }

  .lesson-node.completed:hover {
    box-shadow: 0px 2px #39793c;
    transform: translate(-0px, -2px);
  }

  .lesson-score {
    font-size: 1.2em;
  }
  
  .connector-wrapper {
    position: relative;
    margin: 5px 0;
    width: 100%;
    padding: 40px 40px;
    text-align: center;
  }

  .connector-line {
    /* display: inline-block; */
  }

  .connector-line-1 {
    width: calc(100% - 40px);
    margin: 0 auto;
    height: 2px;
    background: #baafef;
  }
  .connector-line-2 {
    position: absolute;
    width: 20px;
    height: calc(50% + 1px);
    border: 0 solid #baafef;
  }
  .connector-line-3 {
    position: absolute;
    width: 20px;
    height: calc(50% + 1px);
    border: 0 solid #baafef;
  }

  .connector-left .connector-line-2 {
    left: 40px;
    top: 0;
    border-bottom-left-radius: 600px;
    border-bottom-width: 2px;
    border-left-width: 2px;
  }

  .connector-left .connector-line-3 {
    right: 40px;
    bottom: 0;
    border-top-right-radius: 600px;
    border-top-width: 2px;
    border-right-width: 2px;
  }

  .connector-right .connector-line-2 {
    left: 40px;
    bottom: 0;
    border-top-left-radius: 600px;
    border-top-width: 2px;
    border-left-width: 2px;
  }

  .connector-right .connector-line-3 {
    right: 40px;
    top: 0;
    border-bottom-right-radius: 600px;
    border-bottom-width: 2px;
    border-right-width: 2px;
  }
  
  .lesson-status {
    font-size: 1em;
    line-height: 0;
    color: #ffd700;
  }
  