.login-container {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: linear-gradient(to top, transparent 0%,rgba(158, 189, 169 ,1) 80%), 
    url('/src/assets/background.png'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 65%;

}
.login-page {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}