.resultSheet-Wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;


    display: flex;
    justify-content: center;
    align-items: center;
}

.resultSheet-Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.8;
    z-index: 0;
    cursor: pointer;
}

.resultSheet-Container {
    position: relative;
    width: 1920px;
    height: 80%;
    max-width: 90%;
    background-color: white;
    z-index: 1;
    padding: 10px;
    overflow-x: hidden;
    overflow-y: auto;
}

.noteEvent-wrapper {

}

.noteEvent-button {
    border: 2px solid #000;
    width: 30px;
    height: 60px;
    cursor: pointer
}

.noteEvent-button.red {
    border-color: red;
}

.noteEvent-button.red:hover {
    background-color: rgba(255, 0, 0, 0.5);
}

.noteEvent-button.green {
    border-color: green;
}

.noteEvent-button.green:hover {
    background-color: rgba(0, 128, 0, 0.5);
}

.noteEvent-button.yellow {
    border-color: rgba(255, 193, 7, 1);
}

.noteEvent-button.yellow:hover {
    background-color: rgba(255, 193, 7, 0.5);
}

.noteEvent-popper {
    opacity: 0;
    visibility: hidden;
    transition: all 0.1s ease;
    padding: 10px;
    background-color: #FFF;
    border: 1px solid #CCC;
    width: 160px;

    position: absolute;
    top: 100%;
    left: -60px;
    z-index: 100;
}

.noteEvent-wrapper:hover .noteEvent-popper {
    opacity: 1;
    visibility: visible;
}